body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: system-ui;
  font-size: 16px;
  background: #ffffff;
  border-radius: 8px;
  padding: 24px 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  user-select: none;
  position: relative;
  width: 340px;
  min-height: 182px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.anonymise-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tokens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.button {
  color: #ffffff;
  font-family: inherit;
  background: #18181a;
  border: none;
  border-radius: 27px;
  padding: 4px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 32px;
  font-size: 12px;
}

.button:hover {
  background: #6C5EDC;
}

.learn-more {
  font-size: 12px;
  color: #707077;
}

.learn-more a {
  color: #18181A;
  text-decoration: underline;
}

.learn-more a:hover {
  color: #6C5EDC;
}

#pp-mode-form {
  display: flex;
  background: #F5F5F5;
  border-radius: 999px;
  height: 34px;
  padding: 2px;

  input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 999px;

    &:hover {
      background: rgb(172 172 175 / 20%);
    }

    &:has(:focus-visible) {
      outline: auto;
    }

    &:has(input:checked) {
      background: #C9C1FF;
    }
  }
}

#status-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: right;
}

#available-tokens-count {
  padding-right: 6pt;
  text-align: right;
}

#status-indicator-div {
  display: flex;
  justify-content: space-between;
}

#status-message-color {
  font-weight: 900;
}

.error-color {
  color: var(--Accent-Negative-negative, #FF5A0A);
}

.wait-color {
  color: rgb(255, 152, 0);
}

.ready-color {
  color: rgb(76, 175, 80);
}

#status-message {
  display: block;
  padding: 8px 12px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  background: rgba(236, 0, 0, 0.05);
  text-align: left;
  font-size: 11pt;
  line-height: 13pt;
}

#status-message-div {
  position: relative;
}

#status-message-close {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  padding: 1px;
  cursor: pointer;
  line-height: 10px;
  background: rgba(236, 0, 0, 0.3);
  border-radius: 12px;
  margin: 4px;
}

#status-message-close>img {
  width: 12px;
}

#kagi-logo {
  background-color: currentColor;
  mask: url(../images/kagi.svg) no-repeat center;
  min-width: 80px;
  min-height: 42px;
}

#kagipp-settings {
  color: inherit;
  text-decoration: none;
}

#settings-icon {
  background-color: currentColor;
  mask: url(../images/settings.svg) no-repeat center;
  min-width: 24px;
  min-height: 25px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #18181A;
    color: #F5F5F5;
  }

  .button {
    background-color: #F5F5F5;
    color: #18181A;
  }

  .learn-more {
    color: #B7B7BB;
  }

  .learn-more a {
    color: #FFFFFF;
  }

  #pp-mode-form {
    background: #2F2F31;

    label:hover {
      background: rgb(112 112 119 / 20%);
    }

    label:has(input:checked) {
      background: #6C5EDC;
    }
  }
}
