body {
  font-family: system-ui;
}

a {
  color: var(--neutral-graphite-graphite-600, #707077);
  text-decoration: underline;
}

a:hover {
  color: var(--Secondary-purple-600, #6C5EDC);
}

#header {
  display: flex;
  gap: 8px;
  margin: 16pt 32pt;
}

#kagi-logo {
  background-color: black;
  mask: url(../images/kagi.svg) no-repeat center;
  min-width: 80px;
  min-height: 42px;
}

#settings-container {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 80px);
  padding: 16pt 20vw;
}

#settings-container h1 {
  color: #18181A;
  font-size: 23px;
}

section .header {
  height: 45px;
  display: flex;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
}

section .header span {
  color: #18181A;
  font-weight: 700;
}

.setting {
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
  gap: 16px;
}

.setting-text {
  padding-left: 19px;
  flex-direction: column;
  display: inline-flex;
}

.setting-button {
  font-size: inherit;
  border: 1px solid;
  border-radius: 48px;
  background-color: #FFF;
  color: #18181A;
  min-width: 162px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  line-height: 25.60px;
}

.setting-button:hover {
  border-color: #6C5EDC;
  background-color: rgba(108, 94, 220, .25);
}

.setting-button:active {
  background-color: rgba(108, 94, 220, .15);
}

.danger-button {
  border-color: #FF5A0A;
  color: #FF5A0A;
}

.danger-button:hover {
  border-color: #ff430a;
  background-color: rgba(255, 90, 10, .25);
}

.danger-button:active {
  background-color: rgba(255, 90, 10, .15);
}

.setting-name {
  color: #454549;
  font-weight: 700;
  line-height: 25.60px;
}

.setting-desc {
  color: #707077;
  font-size: 12px;
  line-height: 19.20px;
}

.small-button {
  display: inline-block;
  text-align: center;
  min-width: 40pt;
  padding-left: 8pt;
  padding-right: 8pt;
}

.setting-input {
  border: 1px solid;
  border-radius: 12px;
  background-color: #FFF;
  color: #B7B7BB;
  font-size: 14px;
  padding: 9px 16pt;
  margin-right: 10pt;
  width: 92px;
}

.setting-input:focus {
  color: #18181A;
}

hr {
  border: 0;
  border-bottom: 1px solid #CFCFD1;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #232325;
  }

  a {
    color: var(--neutral-graphite-graphite-600, #FFF);
  }

  #kagi-logo {
    background-color: #F5F5F5;
  }

  #settings-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 80px);
  }

  #settings-container h1 {
    color: #FFF;
  }

  section .header span {
    color: #FFF;
  }

  .setting-button {
    background-color: #18181A;
    color: #FFF;
  }

  .setting-name {
    color: #CFCFD1;
  }

  .setting-desc {
    color: #B7B7BB;
  }

  .setting-input {
    background-color: #18181A;
    color: #707077;
    border-color: #18181A;
  }

  .setting-input:focus {
    color: white;
  }

  .danger-button {
    border-color: #FF5A0A;
    color: #FF5A0A;
  }

  hr {
    border-color: #454549;
  }
}
