body {
  font-family: Arial;
  background-color: #FFF;
}

#wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#header {
  display: flex;
  justify-content: left;
  gap: 8px;
  margin: 16pt 32pt;
}

#settings-container {
  background-color: #FFF;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 80px);
  padding: 16pt 20vw;
}

#settings-container h1 {
  color: #18181A;
  font-family: sans-serif;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

section .header {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

section .header span {
  color: #18181A;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.setting {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.setting-text {
  padding-left: 19px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
}

.setting-button {
  border: 1px solid;
  border-radius: 48px;
  background-color: #FFF;
  border-color: #18181A;
  color: #18181A;
  min-width: 162px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.setting-button:hover {
  border-color: #6C5EDC;
  background-color: rgba(108, 94, 220, .25);
}

.setting-button:active {
  background-color: rgba(108, 94, 220, .15);
}

.danger-button {
  border-color: #FF5A0A;
  color: #FF5A0A;
}

.danger-button:hover {
  border-color: #ff430a;
  background-color: rgba(255, 90, 10, .25);
}

.danger-button:active {
  background-color: rgba(255, 90, 10, .15);
}

.setting-button span {
  text-align: center;
  font-size: 16px;
  font-family: Arial;
  font-weight: 400;
  line-height: 25.60px;
  word-wrap: break-word;
  user-select: none;
}

.setting-name {
  color: #454549;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.60px;
  word-wrap: break-word;
}

.setting-desc {
  align-self: stretch;
  color: #707077;
  font-size: 12px;
  font-family: Arial;
  font-weight: 400;
  line-height: 19.20px;
  word-wrap: break-word;
}

.small-button {
  display: inline-block;
  text-align: center;
  min-width: 40pt;
  padding-left: 8pt;
  padding-right: 8pt;
}

.setting-input {
  border: 1px solid;
  border-radius: 12px;
  border-color: #9F9FA5;
  background-color: #FFF;
  color: #B7B7BB;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding: 9px 16pt;
  margin-right: 10pt;
  width: 92px;
}

.setting-input:focus {
  color: #18181A;
}

.line {
  border-bottom: 1px solid;
  border-color: #CFCFD1;
  margin: 32px 0;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #232325;
  }

  #settings-container {
    background: #232325;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 80px);
  }

  #settings-container h1 {
    color: #FFF;
  }

  section .header span {
    color: #FFF;
  }

  .setting-button {
    background-color: #18181A;
    border-color: #FFF;
    color: #FFF;
  }

  .setting-name {
    color: #CFCFD1;
  }

  .setting-desc {
    color: #B7B7BB;
  }

  .setting-input {
    background-color: #18181A;
    color: #707077;
    border-color: #18181A;
  }

  .setting-input:focus {
    color: white;
  }

  .line {
    border-color: #454549;
  }
}